<a href="https://colab.research.google.com/github/kubusccnp/data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

In [3]:
apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [5]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2023-02-03 to 2018-02-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   float64
dtypes: float64(5)
memory usage: 59.0 KB

In [6]:
apple.describe()

              Open         High          Low        Close        Volume
count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
mean     98.543689    99.759214    97.391603    98.627274  1.181147e+08
std      46.337126    46.940323    45.731564    46.359408  5.619985e+07
min      34.743100    35.158800    34.263500    34.309400  3.519586e+07
25%      50.179425    50.596200    49.695500    50.284075  7.993462e+07
50%     106.739500   108.928000   104.994000   107.003500  1.030870e+08
75%     142.355000   144.162750   140.750250   142.620000  1.394897e+08
max     181.576000   181.885000   178.087000   180.958000  4.347085e+08

In [7]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 942 entries, 2023-02-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    942 non-null    float64
 1   High    942 non-null    float64
 2   Low     942 non-null    float64
 3   Close   942 non-null    float64
 4   Volume  942 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 44.2 KB

In [8]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [9]:
apple

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-02-03    148.0300    157.3800   147.8300     154.5000  1.543573e+08
2023-02-02    148.9000    151.1800   148.1700     150.8200  1.183390e+08
2023-02-01    143.9700    146.6100   141.3200     145.4300  7.766363e+07
2023-01-31    142.7000    144.3400   142.2800     144.2900  6.587446e+07
2023-01-30    144.9550    145.5500   142.8500     143.0000  6.401527e+07
...                ...         ...        ...          ...           ...
2018-02-12     37.8296     39.1177    37.5983      38.8346  2.546382e+08
2018-02-09     37.4966     37.6861    35.8616      37.3372  2.957770e+08
2018-02-08     38.1048     38.2713    36.8616      36.8855  2.279209e+08
2018-02-07     38.7678     38.8426    37.8097      37.9163  2.165656e+08
2018-02-06     36.8087     38.9163    36.6084      38.7568  2.870706e+08

[1258 rows x 5 columns]

In [12]:
apple.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume'], dtype='object')

In [14]:
for col in apple.columns:
  print(col.upper())

APPLE_OPEN
APPLE_HIGH
APPLE_LOW
APPLE_CLOSE
APPLE_VOLUME

In [15]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [16]:
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-02-06,36.8087,38.9163,36.6084,38.7568,2.870706e+08,68.0730,72.1995,67.5895,72.1420,221336380,51.6990,54.3688,51.5005,54.2215,76630480,NaN,NaN,NaN,NaN,NaN
2018-02-07,38.7678,38.8426,37.8097,37.9163,2.165656e+08,72.4500,73.0495,70.7575,70.7575,142705120,54.2485,54.3265,52.7310,52.7705,51740820,NaN,NaN,NaN,NaN,NaN
2018-02-08,38.1048,38.2713,36.8616,36.8855,2.279209e+08,71.4840,71.6875,67.5000,67.5250,170100620,52.9935,53.1965,50.2560,50.3855,66610860,NaN,NaN,NaN,NaN,NaN
2018-02-09,37.4966,37.6861,35.8616,37.3372,2.957770e+08,68.6745,69.1745,63.2965,66.9800,282597020,51.2940,52.5860,49.8500,52.3135,98269260,NaN,NaN,NaN,NaN,NaN
2018-02-12,37.8296,39.1177,37.5983,38.8346,2.546382e+08,68.2335,69.6905,67.2005,69.3665,134481180,52.8335,53.2785,52.2745,52.7665,56100360,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-30,144.9550,145.5500,142.8500,143.0000,6.401527e+07,101.0900,101.7400,99.0100,100.5500,70691860,97.4800,98.2900,96.3950,96.9400,27226198,30.20,30.54,29.59,29.63,17969731.0
2023-01-31,142.7000,144.3400,142.2800,144.2900,6.587446e+07,101.1550,103.3484,101.1400,103.1300,66527253,96.8700,98.8800,96.8200,98.8400,29870669,29.75,30.96,29.74,30.93,15611532.0
2023-02-01,143.9700,146.6100,141.3200,145.4300,7.766363e+07,102.5300,106.2400,101.2400,105.1500,80450121,98.7100,101.1900,97.5800,100.4300,35531104,30.88,31.85,30.64,31.49,21206352.0
2023-02-02,148.9000,151.1800,148.1700,150.8200,1.183390e+08,110.2450,114.0000,108.8800,112.9100,158154243,105.8000,107.8500,105.6100,107.7400,69883762,32.42,33.47,32.42,33.05,32045470.0
2023-02-03,148.0300,157.3800,147.8300,154.5000,1.543573e+08,105.2600,108.7800,102.5200,103.3900,144374828,102.9300,107.8100,102.5800,104.7800,65309261,32.17,33.95,32.15,33.09,25804879.0

In [17]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,942.000000,942.000000,942.000000,942.000000,9.420000e+02
mean,98.543689,99.759214,97.391603,98.627274,1.181147e+08,120.468342,121.932456,118.849718,120.401270,8.616538e+07,86.398352,87.374288,85.430254,86.422150,3.526761e+07,37.260805,38.030563,36.422722,37.225616,2.541464e+07
std,46.337126,46.940323,45.731564,46.359408,5.619985e+07,35.045569,35.411009,34.628673,34.976192,4.017154e+07,30.550488,30.841387,30.196946,30.513703,1.582394e+07,9.826583,9.899647,9.670998,9.764244,1.643272e+07
min,34.743100,35.158800,34.263500,34.309400,3.519586e+07,67.300000,69.174500,63.296500,66.980000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,50.179425,50.596200,49.695500,50.284075,7.993462e+07,89.419375,90.130125,88.372875,89.396125,5.898600e+07,59.153750,59.740750,58.562625,59.163750,2.516004e+07,29.705000,30.402500,29.120000,29.742500,1.568435e+07
50%,106.739500,108.928000,104.994000,107.003500,1.030870e+08,108.107000,110.885500,106.348100,108.222000,7.497995e+07,75.057500,75.995850,74.449250,75.421750,3.144044e+07,34.790000,35.410000,33.970000,34.690000,2.176474e+07
75%,142.355000,144.162750,140.750250,142.620000,1.394897e+08,158.328500,159.931000,156.225000,158.093500,1.018440e+08,112.617500,114.010500,111.442750,112.697250,4.027914e+07,44.197500,44.923750,43.390000,44.000000,3.039044e+07
max,181.576000,181.885000,178.087000,180.958000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [18]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.000000,0.999711,0.999647,0.999236,-0.361111,0.774476,0.779090,0.768772,0.772978,-0.296319,0.926725,0.928990,0.924717,0.926155,-0.140891,0.086466,0.090244,0.087392,0.086750,0.104735
apple_high,0.999711,1.000000,0.999598,0.999647,-0.354672,0.772441,0.777550,0.766912,0.771575,-0.291675,0.925229,0.927874,0.923375,0.925157,-0.136868,0.080550,0.084876,0.081629,0.081582,0.107818
apple_low,0.999647,0.999598,1.000000,0.999656,-0.369583,0.775585,0.780405,0.770586,0.774882,-0.302916,0.928907,0.931288,0.927385,0.928898,-0.146827,0.090314,0.094341,0.092033,0.091504,0.100809
apple_close,0.999236,0.999647,0.999656,1.000000,-0.362505,0.773539,0.778825,0.768651,0.773667,-0.298126,0.926861,0.929618,0.925452,0.927515,-0.142761,0.084595,0.089079,0.086371,0.086761,0.103576
apple_volume,-0.361111,-0.354672,-0.369583,-0.362505,1.000000,-0.224329,-0.219624,-0.234030,-0.227808,0.578197,-0.409672,-0.406111,-0.416888,-0.412339,0.496811,-0.178125,-0.170127,-0.195597,-0.181851,0.242272
amazon_open,0.774476,0.772441,0.775585,0.773539,-0.224329,1.000000,0.999211,0.999043,0.998059,-0.260823,0.793757,0.791757,0.794949,0.792877,-0.153503,0.589802,0.592374,0.590476,0.590192,-0.032385
amazon_high,0.779090,0.777550,0.780405,0.778825,-0.219624,0.999211,1.000000,0.998822,0.999081,-0.249542,0.795938,0.794615,0.797393,0.795894,-0.146699,0.579721,0.583174,0.580664,0.581268,-0.026217
amazon_low,0.768772,0.766912,0.770586,0.768651,-0.234030,0.999043,0.998822,1.000000,0.999116,-0.276371,0.791508,0.789705,0.793632,0.791651,-0.166428,0.599372,0.602381,0.601233,0.601251,-0.039902
amazon_close,0.772978,0.771575,0.774882,0.773667,-0.227808,0.998059,0.999081,0.999116,1.000000,-0.263025,0.792885,0.791720,0.795139,0.794056,-0.158236,0.588182,0.591876,0.590089,0.591411,-0.033701
amazon_volume,-0.296319,-0.291675,-0.302916,-0.298126,0.578197,-0.260823,-0.249542,-0.276371,-0.263025,1.000000,-0.324522,-0.318596,-0.332590,-0.326446,0.581523,-0.174973,-0.167553,-0.190611,-0.181204,0.244750
google_open,0.926725,0.925229,0.928907,0.926861,-0.409672,0.793757,0.795938,0.791508,0.792885,-0.324522,1.000000,0.999559,0.999530,0.998963,-0.169873,0.241387,0.243182,0.241994,0.239589,0.096828
google_high,0.928990,0.927874,0.931288,0.929618,-0.406111,0.791757,0.794615,0.789705,0.791720,-0.318596,0.999559,1.000000,0.999426,0.999514,-0.161683,0.234699,0.237172,0.235414,0.233756,0.102106
google_low,0.924717,0.923375,0.927385,0.925452,-0.416888,0.794949,0.797393,0.793632,0.795139,-0.332590,0.999530,0.999426,1.000000,0.999540,-0.181095,0.247599,0.249569,0.249013,0.246737,0.091652
google_close,0.926155,0.925157,0.928898,0.927515,-0.412339,0.792877,0.795894,0.791651,0.794056,-0.326446,0.998963,0.999514,0.999540,1.000000,-0.172667,0.240942,0.243505,0.242365,0.241180,0.096697
google_volume,-0.140891,-0.136868,-0.146827,-0.142761,0.496811,-0.153503,-0.146699,-0.166428,-0.158236,0.581523,-0.169873,-0.161683,-0.181095,-0.172667,1.000000,-0.162319,-0.150517,-0.176827,-0.162892,0.262022
uber_open,0.086466,0.080550,0.090314,0.084595,-0.178125,0.589802,0.579721,0.599372,0.588182,-0.174973,0.241387,0.234699,0.247599,0.240942,-0.162319,1.000000,0.997398,0.997376,0.994351,-0.218601
uber_high,0.090244,0.084876,0.094341,0.089079,-0.170127,0.592374,0.583174,0.602381,0.591876,-0.167553,0.243182,0.237172,0.249569,0.243505,-0.150517,0.997398,1.000000,0.996926,0.997639,-0.194869
uber_low,0.087392,0.081629,0.092033,0.086371,-0.195597,0.590476,0.580664,0.601233,0.590089,-0.190611,0.241994,0.235414,0.249013,0.242365,-0.176827,0.997376,0.996926,1.000000,0.997363,-0.237705
uber_close,0.086750,0.081582,0.091504,0.086761,-0.181851,0.590192,0.581268,0.601251,0.591411,-0.181204,0.239589,0.233756,0.246737,0.241180,-0.162892,0.994351,0.997639,0.997363,1.000000,-0.215512
uber_volume,0.104735,0.107818,0.100809,0.103576,0.242272,-0.032385,-0.026217,-0.039902,-0.033701,0.244750,0.096828,0.102106,0.091652,0.096697,0.262022,-0.218601,-0.194869,-0.237705,-0.215512,1.000000

In [20]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [21]:
df.index

DatetimeIndex(['2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15',
               '2018-02-16', '2018-02-20',
               ...
               '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26',
               '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03'],
              dtype='datetime64[ns]', name='Date', length=1258, freq=None)

In [22]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [23]:


df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close      1.000000      0.773667      0.927515    0.086761
amazon_close     0.773667      1.000000      0.794056    0.591411
google_close     0.927515      0.794056      1.000000    0.241180
uber_close       0.086761      0.591411      0.241180    1.000000

In [24]:
uber.head(5)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-03      32.17      33.95     32.15       33.09     25804879
2023-02-02      32.42      33.47     32.42       33.05     32045470
2023-02-01      30.88      31.85     30.64       31.49     21206352
2023-01-31      29.75      30.96     29.74       30.93     15611532
2023-01-30      30.20      30.54     29.59       29.63     17969731

In [28]:
uber_6 = uber[uber.index.month == 6 ]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30    21.1100    21.1255    19.895       20.46     30882454
2022-06-29    22.1100    22.1500    21.080       21.47     30704792
2022-06-28    22.9700    23.4600    22.040       22.08     24360150
2022-06-27    23.4500    23.6400    22.345       22.86     27153354
2022-06-24    22.4800    23.1900    22.300       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07    44.9200    45.6700    44.130       44.16     12654670
2019-06-06    45.0000    45.7500    44.280       44.92     16403691
2019-06-05    42.8700    45.6600    42.500       45.00     28609604
2019-06-04    42.5600    42.8800    40.700       42.75     23432141
2019-06-03    40.7435    41.8500    40.240       41.25     16605261

[85 rows x 5 columns]

In [30]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18    23.4850     22.39       23.45     29406649
2022-07-28      22.89    23.4200     22.14       23.31     22886075
2022-07-27      23.00    23.3199     22.49       23.09     28384348
2022-07-26      23.15    23.1500     22.45       22.55     24402801
2022-07-25      23.27    23.5400     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59    43.8500     42.75       42.95      9304101
2019-07-05      44.31    44.5500     43.01       43.53      8239452
2019-07-03      44.00    44.4600     43.79       44.23      3380003
2019-07-02      44.55    44.6800     43.75       44.00     11881274
2019-07-01      46.98    47.0400     44.06       44.27     17739998

[85 rows x 5 columns]

In [33]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11    21.1255    19.895       20.46     30882454
2022-06-29      22.11    22.1500    21.080       21.47     30704792
2022-06-28      22.97    23.4600    22.040       22.08     24360150
2022-06-27      23.45    23.6400    22.345       22.86     27153354
2022-06-24      22.48    23.1900    22.300       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59    43.8500    42.750       42.95      9304101
2019-07-05      44.31    44.5500    43.010       43.53      8239452
2019-07-03      44.00    44.4600    43.790       44.23      3380003
2019-07-02      44.55    44.6800    43.750       44.00     11881274
2019-07-01      46.98    47.0400    44.060       44.27     17739998

[170 rows x 5 columns]